body
	font-family: 'Roboto', sans-serif
	font-size: 16px

a
	text-decoration: none
	color: black

button
	outline: none
	display: inline-block

.container 
	max-width: 1170px
	margin: 0 auto

.page-header
	padding-left: 15px
	padding-right: 15px
	.container
		display: flex
		justify-content: space-between
		align-items: center
		padding-top: 20px
		padding-bottom: 24px
		a
			display: block
			img
				display: block
				max-width: 100%
		nav
			ul
				display: flex
				align-items: center
				padding-left: 0
				list-style: none
				flex-wrap: wrap
				margin-left: 30px
				li
					display: inline-block
					margin-right: 51px
					a
						color: #333333
						font-size: 1.5625em
						font-weight: 400
						transition: 0.3s
						&:hover
							color: #f26522
					&:nth-child(4)
						margin-right: 0

@media screen and ( max-width: 1068px ) 
	body
		font-size: 14px
	.page-header
		.container
			nav
				ul
					li
						margin-right: 40px

@media screen and ( max-width: 976px ) 
	.page-header
		.container
			flex-direction: column
			a
				margin-bottom: 15px
			nav
				ul
					li
						margin-right: 30px

@media screen and ( max-width: 558px ) 
	.page-header
		.container
			nav
				ul
					flex-direction: column
					align-items: center
					text-align: center
					li
						margin-right: 0
						margin-bottom: 10px
						font-size: 22px

@media screen and ( max-width: 320px ) 
	.page-header
		.container
			a
				img
					width: 80%
					text-align: center
					margin: 0 auto
			nav
				ul
					li
						font-size: 19px

.page-sell
	background-image: url(../img/page-sell-bg.jpg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	padding-left: 15px
	padding-right: 15px
	.container
		padding-bottom: 17%
		.sell-text
			margin: 0 auto
			text-align: center
			h1
				color: #ffffff
				font-size: 3.125em
				font-weight: 700
				line-height: 60px
				padding-top: 21.5%
				margin: 0
				margin-bottom: 20px
			p
				color: #ffffff
				font-size: 1.25em
				font-weight: 400
				line-height: 28px
				max-width: 477px
				margin: 0 auto
				margin-bottom: 44px
		.sell-form
			display: flex
			justify-content: center
			align-items: center
			padding: 20px
			background-color: rgba(0, 0, 0, 0.5)
			width: 67.5%
			margin: 0 auto
			input
				display: inline-block
				color: #bdbdbd
				background-color: #ffffff
				font-size: 1em
				font-weight: 400
				padding-top: 25px
				padding-left: 19px
				padding-bottom: 24px
				border: none
				width: 77%
				&:focus
					color:#000
					outline-color: #f26522
			button
				&:hover
					background-color: #ffffff
					color: #f26522
				background-color: #f26522
				color: #ffffff
				font-size: 1.125em
				font-weight: 700
				display: inline-block
				border: none
				cursor: pointer
				height: 67px
				width: 166px
				border: 2px solid #f26522
				transition: 0.3s

.page-features
	padding-left: 15px
	padding-right: 15px
	.container
		padding-top: 101px
		padding-bottom: 101px
		h2
			color: #333333
			font-size: 2.5em
			font-weight: 700
			line-height: 28px
			margin: 0 auto
			margin-bottom: 32px
			text-align: center
		.line
			width: 280px
			height: 1px
			margin: 0 auto
			background-color: #cacaca
			position: relative
			margin-bottom: 73px
			&::after
				content: ''
				display: block
				width: 100px
				height: 7px
				background-color: #f26522
				position: absolute
				bottom: -3px
				left: 90px
		.flex-features
			display: flex
			align-items: center
			justify-content: space-between
			&-item
				box-shadow: 0 0 24px rgba(64, 199, 255, 0.32)
				box-sizing: border-box
				padding-top: 45px
				padding-bottom: 44px
				padding-left: 26px
				padding-right: 24px
				margin-right: 30px
				max-width: 370px
				&:nth-child(3)
					margin-right: 0
					
				img
					display: block
					margin: 0 auto
					max-width: 100%
				h3
					color: #f26522
					font-size: 1.5em
					font-weight: 700
					line-height: 26px
					text-align: center
					margin-top: 22px
					margin-bottom: 0
				p
					color: #898989
					font-size: 1em
					font-weight: 400
					line-height: 25px
					text-align: center
					max-width: 303px
					margin: 0 auto
					margin-top: 11px

.page-steps
	padding-left: 15px
	padding-right: 15px
	position: relative
	&::before
		content: ''
		display: block
		position: absolute
		bottom: -52px
		background-image: url(../img/page-steps-bg.jpeg)
		background-repeat: no-repeat
		background-size: cover
		background-position: center
		left: 0
		top: 0
		width: 100%
		height: 82.2%
		z-index: -1
	.container
		padding-top: 3.24%
		h2
			color: #333333
			font-size: 2.5em
			font-weight: 700			
			text-align: center
		.line
			width: 280px
			height: 1px
			margin: 0 auto
			background-color: #ffffff
			position: relative
			margin-bottom: 51px
			&::after
				content: ''
				display: block
				width: 100px
				height: 7px
				background-color: #f26522
				position: absolute
				bottom: -3px
				left: 90px
		.flex-steps
			display: flex
			justify-content: space-between
			align-items: center
			margin-bottom: 73px
			&-item
				box-shadow: 0 0 24px rgba(64, 199, 255, 0.32)
				background-color: #ffffff
				margin-right: 30px
				max-width: 370px
				box-sizing: border-box
				padding-top: 36px
				padding-left: 60px
				padding-right: 52px
				padding-bottom: 66px
				&:nth-child(3)
					margin-right: 0
					padding-right: 47px
					padding-left: 51px
				&:nth-child(2)
					padding-right: 24px
					padding-left: 18px

				h3
					color: #f26522
					font-size: 1.375em
					font-weight: 700
					text-align: center
					margin-bottom: 5px
					span
						display: block
						color: #f26522
						font-size: 1.54em
						font-weight: 900
						margin-bottom: 20px
				p
					color: #7f7f7f
					font-weight: 400
					line-height: 24px
					text-align: center
					margin: 0 auto
				.par-1
					max-width: 217px
				.par-2
					max-width: 291px
		.video
			width: 78%
			margin: 0 auto
			background-color: #ffffff
			img
				display: block
				margin: 0 auto
				max-width: 100%
				position: relative
			&::after
				content: ''
				display: block
				background-image: url(../img/page-steps-house.png)
				background-repeat: no-repeat
				background-size: cover
				background-position: center
				width: 31.35%
				height: 54%
				position: absolute
				bottom: 128px
				right: -10px
				z-index: -1
						
.page-questions
	padding-left: 15px
	padding-right: 15px
	.container
		padding-top: 86px
		padding-bottom: 15.05%
		.flex-questions
			display: flex
			justify-content: space-between
			align-items: center
			&-item
				box-sizing: border-box
				max-width: 384px
				margin-right: 9px
				&:nth-child(3)
					margin-right: 0
				ul
					padding-left: 0 
					list-style: none
					background-color: #f26522
					box-sizing: border-box
					li
						color: #ffffff
						font-size: 1em
						font-weight: 400
						line-height: 23px
						padding-left: 0
						padding-right: 30px
						&:nth-child(even)
							background-color: #ffffff
						&:nth-child(odd)
							padding-top: 24px
							padding-bottom: 18px
							padding-left: 27px
						hr
							margin: 0
							height: 1px
							border: none
				.special-list
					color: #ffffff
					font-size: 1.375em
					font-weight: 700
				.icon-list
					li
						padding-left: 60px !important
						position: relative
						&::before
							content: ''
							display: block
							background-image: url(../img/okay-icon.svg)
							background-repeat: no-repeat
							width: 25px
							position: absolute
							top: 23px
							left: 23px
							bottom: 0
					.special-list
						padding-left: 23px !important
						&::before
							display: none
				ul:nth-child(1)
					.width-list
						padding-top: 25px
						padding-bottom: 40px
					.some-list
						padding-top: 25px
						padding-bottom: 39px
			.doitdude
				li
					padding-right: 66px

.page-subscribe
	background-image: url(../img/page-subscribe-bg.jpeg)
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	padding-left: 15px
	padding-right: 15px
	.container
		padding-top: 8%
		padding-bottom: 9.18%
		h2
			font-size: 3.125em
			color: #f2f2f2
			font-weight: 700
			line-height: 34px
			text-align: center
			margin: 0
		p
			color: #f2f2f2
			font-weight: 700
			line-height: 34px
			text-align: center
			font-size: 1.5625em
			margin-top: 7px
			margin-bottom: 39px
		.subscribe-form
			display: grid
			align-content: center
			justify-content: center
			grid-template-columns: minmax(290px, 619px) 167px
			grid-template-rows: 60px
			background-color: rgba(0,0,0,0.5)
			padding: 20px
			width: 67.5%
			margin: 0 auto
			input
				padding-left: 72px
				color: #dbdbdb
				font-size: 1em
				font-weight: 400
				background-image: url(../img/email-icon.png)
				background-repeat: no-repeat
				background-position: 4% 46%
				border: none
				padding-right: 45px
				&:focus
					color: black
					outline-color: #f26522
			button
				&:hover
					background-color: #ffffff
					color: #f26522
				border: none
				color: #ffffff
				font-size: 1.125em
				font-weight: 500
				background-color: #f26522
				cursor: pointer
				border: 2px solid #f26522
				transition: 0.3s

.page-form
	padding-left: 15px
	padding-right: 15px
	.container
		padding-top: 100px
		padding-bottom: 5.25%
		.grid-form
			display: grid
			grid-template-columns: minmax(320px, 510px) minmax(320px, 510px)
			grid-gap: 30px
			justify-content: center
			.grid-form-item
				box-shadow: 0 0 24px rgba(64, 199, 255, 0.32)
				&-1
					padding: 60px 35px 108px 28px
					.wrap
						box-sizing: border-box
						h2
							color: #f26522
							font-size: 2.25em
							font-weight: 500
							margin-top: 0
							margin-bottom: 0
						p
							color: #707070
							font-size: 1.25em
							font-weight: 400
							line-height: 25px
							margin-top: 17px
							margin-bottom: 49px
						input
							display: inline-block
							width: 100%
							margin-bottom: 37px
							padding-top: 19px
							padding-bottom: 19px
							padding-left: 22px
							border: 1px solid #e0e6e6
							color: #bdbdbd
							font-size: 1em
							font-weight: 400
							box-sizing: border-box
							&:focus
								color: black
								outline-color: #f26522
						button
							display: inline-block
							border: none
							width: 100%
							background-color: #f26522
							color: #ffffff
							font-size: 1.125em
							font-weight: 700
							cursor: pointer
							padding-top: 20px
							padding-bottom: 20px
							border: 2px solid #f26522
							transition: 0.3s
							&:hover
								background-color: #ffffff
								color: #f26522
				&-2
					grid-column: 2 / 4
					grid-row: span 2
					padding: 36px 30px 30px 30px
					h3
						color: #333333
						font-size: 1.875em	
						font-weight: 500
						margin: 0
						margin-bottom: 22px
					input
						display: inline-block
						width: 100%
						padding-top: 16px
						padding-bottom: 16px
						margin-bottom: 19px
						border: 1px solid #cff0ff
						color: #b7b7b7
						font-size: 1em
						font-weight: 400
						padding-left: 17px
						box-sizing: border-box
						&:focus
							color: black
							outline-color: #f26522
					textarea
						display: inline-block
						box-sizing: border-box
						border: 1px solid #cff0ff
						width: 100%
						resize: none
						padding-top: 0
						padding-left: 15px
						height: 211px
						color: #b7b7b7
						font-size: 1em
						font-weight: 400
						line-height: 60px
						margin-bottom: 26px
						&:focus
							color: black
							outline-color: #f26522
					button
						width: 211px
						height: 50px
						border: none
						background-color: #f26522
						color: #ffffff
						font-size: 1.125em
						font-weight: 500
						float: right
						transition: 0.3s
						border: 2px solid #f26522
						cursor: pointer
						&:hover
							background-color: #ffffff
							color: #f26522
					
.page-footer
	padding-left: 15px
	padding-right: 15px
	background-color: #1e1e1e
	position: relative
	z-index: -2
	.container
		padding-top: 24px
		padding-bottom: 26px
		text-align: center
		p
			color: #bdbdbd
			font-size: 1em
			font-weight: 400
	&::before
		content: ''
		position: absolute
		top: -230px
		left: -80px
		background-image: url(../img/footer-picture.png)
		background-repeat: no-repeat
		width: 1111px
		height: 244px
		z-index: -1	